.maincontainer55{
    background-color: #E8F5EA;
    border-radius: 5px;
    width: 800px;
    height: 400px;
}
.NameoftheNotice{
    padding-left: 30px;
    padding-top: 30px;
}
.inputname{
    width: 600px;
    border-radius: 5px;
}
.inputfield{
    padding-top: 20px;
}
.noticuploadimage{
    padding-top: 30px;
    padding-bottom: 20px;
}